<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="manakov.sample.dbapp">

    <application
        android:name=".DbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Teacher.AddTeacherActivity"></activity>
        <activity android:name=".Student.AddStudentActivity" />
        <activity android:name=".Course.CourseInfoActivity" />
        <activity android:name=".Course.CoursesActivity" />
        <activity android:name=".Teacher.TeacherInfoActivity" />
        <activity android:name=".Teacher.TeachersActivity" />
        <activity android:name=".Student.StudentInfoActivity" />
        <activity android:name=".Student.StudentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>